# vim stuff
vim/vim.symlink/bundle/cache_vim
vim/vim.symlink/bundle/state_vim.vim
vim/vim.symlink/bundle/.cache

.DS_Store
.AppleDouble
.LSOverride
Icon
ssh
ruby
# Thumbnails
._*

#vim
.un~

# Files that might appear on external disk
.Spotlight-V100
.Trashes


misc/atom.symlink/packages/*

private/*
*bfg-report
nuhabitat.sh
# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

