.DS_Store
.AppleDouble
.LSOverride
Icon
ssh
ruby
# Thumbnails
._*

#vim
.un~

# Files that might appear on external disk
.Spotlight-V100
.Trashes


misc/atom.symlink/packages/*
vim/vim.symlink/bundle/*
vim/vim.symlink/backups/*
!vim/vim.symlink/backups/.gitkeep

vim/vim.symlink/swap
!vim/vim.symlink/swap/.gitkeep

vim/vim.symlink/undo
!vim/vim.symlink/undo/.gitkeep


private/*
..bfg-report
nuhabitat.sh
# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

