[submodule "zsh/oh-my-zsh.symlink"]
    path = zsh/oh-my-zsh.symlink
    url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "private"]
	path = private
	url = git@github.com:elliotboney/PrivateDotfiles.git

[submodule "vim/vim.symlink/bundle/YouCompleteMe"]
    path = vim/vim.symlink/bundle/YouCompleteMe
    url = git@github.com:Valloric/YouCompleteMe.git

[submodule "vim/vim.symlink/bundle/hex.vim"]
    path = vim/vim.symlink/bundle/hex.vim
    url = git@github.com:vim-scripts/hex.vim.git

[submodule "vim/vim.symlink/bundle/hexman.vim"]
    path = vim/vim.symlink/bundle/hexman.vim
    url = git@github.com:vim-scripts/hexman.vim.git

[submodule "vim/vim.symlink/bundle/Vundle.vim"]
    path = vim/vim.symlink/bundle/Vundle.vim
    url = git@github.com:gmarik/Vundle.vim.git

[submodule "vim/vim.symlink/bundle/ctrlp-funky"]
    path = vim/vim.symlink/bundle/ctrlp-funky
    url = git@github.com:tacahiroy/ctrlp-funky.git

[submodule "vim/vim.symlink/bundle/eVimBundle"]
    path = vim/vim.symlink/bundle/eVimBundle
    url = git@github.com:elliotboney/eVimBundle.git

[submodule "vim/vim.symlink/bundle/syntastic"]
    path = vim/vim.symlink/bundle/syntastic
    url = git@github.com:scrooloose/syntastic.git

[submodule "vim/vim.symlink/bundle/MatchTag"]
    path = vim/vim.symlink/bundle/MatchTag
    url = git@github.com:gregsexton/MatchTag.git

[submodule "vim/vim.symlink/bundle/BusyBee"]
    path = vim/vim.symlink/bundle/BusyBee
    url = git@github.com:vim-scripts/BusyBee.git

[submodule "vim/vim.symlink/bundle/powerline"]
    path = vim/vim.symlink/bundle/powerline
    url = git@github.com:Lokaltog/powerline.git

[submodule "vim/vim.symlink/bundle/Align"]
    path = vim/vim.symlink/bundle/Align
    url = git@github.com:vim-scripts/Align.git

[submodule "vim/vim.symlink/bundle/Gist.vim"]
    path = vim/vim.symlink/bundle/Gist.vim
    url = git@github.com:vim-scripts/Gist.vim.git

[submodule "vim/vim.symlink/bundle/Tagbar"]
    path = vim/vim.symlink/bundle/Tagbar
    url = git@github.com:vim-scripts/Tagbar.git

[submodule "vim/vim.symlink/bundle/JavaScript-Indent"]
    path = vim/vim.symlink/bundle/JavaScript-Indent
    url = git@github.com:vim-scripts/JavaScript-Indent.git

[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
    path = vim/vim.symlink/bundle/ctrlp.vim
    url = git@github.com:kien/ctrlp.vim.git

[submodule "vim/vim.symlink/bundle/html5.vim"]
    path = vim/vim.symlink/bundle/html5.vim
    url = git@github.com:othree/html5.vim.git

[submodule "vim/vim.symlink/bundle/js-beautify"]
    path = vim/vim.symlink/bundle/js-beautify
    url = git@github.com:einars/js-beautify.git

[submodule "vim/vim.symlink/bundle/lightline.vim"]
    path = vim/vim.symlink/bundle/lightline.vim
    url = git@github.com:itchyny/lightline.vim.git

[submodule "vim/vim.symlink/bundle/tern_for_vim"]
    path = vim/vim.symlink/bundle/tern_for_vim
    url = git@github.com:marijnh/tern_for_vim.git

[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
    path = vim/vim.symlink/bundle/vim-coffee-script
    url = git@github.com:vim-scripts/vim-coffee-script.git

[submodule "vim/vim.symlink/bundle/webapi-vim"]
    path = vim/vim.symlink/bundle/webapi-vim
    url = git@github.com:mattn/webapi-vim.git

[submodule "vim/vim.symlink/bundle/xterm-color-table.vim"]
    path = vim/vim.symlink/bundle/xterm-color-table.vim
    url = git@github.com:vim-scripts/xterm-color-table.vim.git

[submodule "vim/vim.symlink/bundle/vim-jsbeautify"]
    path = vim/vim.symlink/bundle/vim-jsbeautify
    url = git@github.com:maksimr/vim-jsbeautify.git

[submodule "vim/vim.symlink/bundle/vim-markdown"]
    path = vim/vim.symlink/bundle/vim-markdown
    url = git@github.com:tpope/vim-markdown.git

[submodule "vim/vim.symlink/bundle/nerdcommenter"]
    path = vim/vim.symlink/bundle/nerdcommenter
    url = git@github.com:scrooloose/nerdcommenter.git

[submodule "vim/vim.symlink/bundle/vim-javascript"]
    path = vim/vim.symlink/bundle/vim-javascript
    url = git@github.com:pangloss/vim-javascript.git

[submodule "vim/vim.symlink/bundle/vundle"]
    path = vim/vim.symlink/bundle/vundle
    url = git@github.com:gmarik/vundle.git

[submodule "vim/vim.symlink/bundle/nerdtree"]
    path = vim/vim.symlink/bundle/nerdtree
    url = git@github.com:scrooloose/nerdtree.git

[submodule "vim/vim.symlink/bundle/gist-vim"]
    path = vim/vim.symlink/bundle/gist-vim
    url = git@github.com:mattn/gist-vim.git

[submodule "vim/vim.symlink/bundle/WebAPI.vim"]
    path = vim/vim.symlink/bundle/WebAPI.vim
    url = git@github.com:vim-scripts/WebAPI.vim.git

[submodule "vim/vim.symlink/bundle/LustyJuggler"]
    path = vim/vim.symlink/bundle/LustyJuggler
    url = git@github.com:vim-scripts/LustyJuggler.git

[submodule "vim/vim.symlink/bundle/eScrit"]
    path = vim/vim.symlink/bundle/eScrit
    url = git@github.com:elliotboney/eScrit.git

[submodule "zshcustom/plugins/alias-tips"]
	path = zshcustom/plugins/alias-tips
	url = https://github.com/djui/alias-tips.git

[submodule "zshcustom/plugins/zsh-syntax-highlighting"]
	path = zshcustom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "zshcustom/plugins/zsh-256color"]
    path = zshcustom/plugins/zsh-256color
    url = git@github.com:chrissicool/zsh-256color.git

[submodule "zshcustom/plugins/zsh-autosuggestions"]
	path = zshcustom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git

[submodule "zshcustom/plugins/zsh-completions"]
	path = zshcustom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git

[submodule "vim/vim.symlink/bundle/vim-json"]
	path = vim/vim.symlink/bundle/vim-json
	url = git@github.com:elzr/vim-json.git

[submodule "vim/vim.symlink/bundle/vim-javascript-syntax"]
	path = vim/vim.symlink/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/vim.symlink/bundle/dein.vim"]
	path = vim/vim.symlink/bundle/dein.vim
	url = git@github.com:Shougo/dein.vim.git
[submodule "vim/vim.symlink/bundle/scss-syntax"]
	path = vim/vim.symlink/bundle/scss-syntax
	url = git@github.com:cakebaker/scss-syntax.vim.git
[submodule "vim/vim.symlink/bundle/vim-startify"]
	path = vim/vim.symlink/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
