  plugins=(
    colored-man
    colorize
    compleat
    cp
    elliotzsh
    extract
    # git
    git-extras
    github
    gnu-utils
    grunt
    history
    npm
    rsync
    screen
    web-search
    wpclitwo
    zsh-256color
    zsh-autosuggestions
    zsh-completions
    zsh_reload
    zsh-syntax-highlighting # this MUST BE LAST
    )
  export plugins