{{- if lookPath "lpass" }}
{{- $sshKey := lastpassRaw "SSH Public Key" }}
{{- if $sshKey }}
{{ (index $sshKey 0).note }}
{{- else }}
{{- fail "SSH Public Key not found in LastPass" }}
{{- end }}
{{- else }}
{{- fail "LastPass CLI (lpass) not found. Please install with: brew install lastpass-cli" }}
{{- end }}