'editor':
  'fontSize': 12
  'fontFamily': 'Source Code Pro'
  'lineHeight': 1.2
  'preferredLineLength': 100
  'invisibles':
    'eol': ' '
  'showIndentGuide': true
'core':
  'themes': [
    'spacegray-dark-ui'
    'spacegray-dark-syntax'
  ]
  'useReactEditor': true
  'audioBeep': false
  'ignoredNames': [
    '.git'
    '.DS_Store'
    '.idea'
  ]
  'projectHome': '/Users/eboney/Code'
  'disabledPackages': [
    'autocomplete-snippets'
    'script'
  ]
'exception-reporting':
  'userId': '17f0acd5-4042-79ad-0b2a-1adf347830f5'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '7b1b09b29610b6ae118986b03bceb5556b4620e3'
'atom-beautify':
  'analytics': false
  'js_eval_code': true
  'js_jslint_happy': true
  'js_keep_array_indentation': true
  'js_keep_function_indentation': true
  'js_unescape_strings': true
'remember-session':
  'path': '/Users/eboney/Library/Application Support/Google/Chrome/Default/User StyleSheets'
  'x': 448
  'y': 299
  'tabs': ''
  'selectedTab': ''
  'width': 990
  'height': 543
  'treeWidth': 200
'linter-jsxhint':
  'jsxhintExecutablePath': '/Users/eboney/.nvm/v0.10.29/bin/jsxhint'
